{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>edit</h1>
    {% else %}    
        <h1>Create Entry</h1>
    {% endif %}
    {% if except %}
        <h3>{{ except }}</h3>
    {% endif %}
    <form action="{% url 'create' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ entryform }}
        <br>
        <button class="btn-secondary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}